<ul class="nav nav-list">
    <li class="nav-header">Getting Started</li>
    <li><a href="{{ site.baseurl }}/">Introduction</a></li>
    <li><a href="{{ site.baseurl }}/license.html">License</a></li>
    <li class="nav-header">Resources</li>
    <li><a href="{{ site.baseurl }}/advocacy_campaigns.html">Advocacy Campaigns</a></li>
    <li><a href="{{ site.baseurl }}/aep.html">API Entry Point</a></li>
    <li><a href="{{ site.baseurl }}/answers.html">Answers</a></li>
    <li><a href="{{ site.baseurl }}/attendances.html">Attendances</a></li>
    <li><a href="{{ site.baseurl }}/canvasses.html">Canvasses</a></li>
    <li><a href="{{ site.baseurl }}/canvassing_efforts.html">Canvassing Efforts</a></li>
    <li><a href="{{ site.baseurl }}/donations.html">Donations</a></li>
    <li><a href="{{ site.baseurl }}/events.html">Events</a></li>
    <li><a href="{{ site.baseurl }}/forms.html">Forms</a></li>
    <li><a href="{{ site.baseurl }}/fundraising_pages.html">Fundraising Pages</a></li>
    <li><a href="{{ site.baseurl }}/items.html">Items</a></li>
    <li><a href="{{ site.baseurl }}/lists.html">Lists</a></li>
    <li><a href="{{ site.baseurl }}/messages.html">Messages</a></li>
    <li><a href="{{ site.baseurl }}/organizations.html">Organizations</a></li>
    <li><a href="{{ site.baseurl }}/outreaches.html">Outreaches</a></li>
    <li><a href="{{ site.baseurl }}/people.html">People</a></li>
    <li><a href="{{ site.baseurl }}/petitions.html">Petitions</a></li>
    <li><a href="{{ site.baseurl }}/phone_bank.html">Phonebanks</a></li>
    <li><a href="{{ site.baseurl }}/phone_bank_result.html">Phonebank Result</a></li>
    <li><a href="{{ site.baseurl }}/queries.html">Queries</a></li>
    <li><a href="{{ site.baseurl }}/questions.html">Questions</a></li>
    <li><a href="{{ site.baseurl }}/results.html">Results</a></li>
    <li><a href="{{ site.baseurl }}/scripts.html">Scripts</a></li>
    <li><a href="{{ site.baseurl }}/script_questions.html">Script Questions</a></li>
    <li><a href="{{ site.baseurl }}/share_pages.html">Share Pages</a></li>
    <li><a href="{{ site.baseurl }}/signatures.html">Signatures</a></li>
    <li><a href="{{ site.baseurl }}/submissions.html">Submissions</a></li>
    <li><a href="{{ site.baseurl }}/tags.html">Tags</a></li> 
    <li><a href="{{ site.baseurl }}/taggings.html">Taggings</a></li> 
    <li><a href="{{ site.baseurl }}/wrappers.html">Wrappers</a></li>    
	<li class="nav-header">Helpers</li> 
    <li><a href="{{ site.baseurl }}/person_signup.html">Person Signup Helper</a></li>
    <li><a href="{{ site.baseurl }}/record_attendance.html">Record Attendance Helper</a></li>
    <li><a href="{{ site.baseurl }}/record_canvass.html">Record Canvass Helper</a></li>
    <li><a href="{{ site.baseurl }}/record_donation.html">Record Donation Helper</a></li>
    <li><a href="{{ site.baseurl }}/record_outreach.html">Record Outreach Helper</a></li>
    <li><a href="{{ site.baseurl }}/record_signature.html">Record Signature Helper</a></li>
    <li><a href="{{ site.baseurl }}/record_submission.html">Record Submission Helper</a></li>
    <li><a href="{{ site.baseurl }}/schedule_helper.html">Schedule Helper</a></li>
    <li><a href="{{ site.baseurl }}/send_helper.html">Send Helper</a></li>
	<li class="nav-header">Implementer Guidance</li> 
    <li><a href="{{ site.baseurl }}/integration_profiles.html">Integration Profiles</a></li>
    <li><a href="{{ site.baseurl }}/field_organizing_profile.html">Field Organizing Profile</a></li>
    <li><a href="{{ site.baseurl }}/fundraising_profile.html">Fundraising Profile</a></li>
    <li><a href="{{ site.baseurl }}/list_exchange_profile.html">List Exchange Profile</a></li>
    
    <li class="nav-header">Experimental Resources</li> 
    
    <li><a href="{{ site.baseurl }}/errors.html">Errors</a></li>
    
</ul>
