<ul class="nav nav-list">
    <li class="nav-header">Getting Started</li>
    <li><a href="{{ site.baseurl }}/">Introduction</a></li>
    <li class="nav-header">Resources</li>
    <li><a href="{{ site.baseurl }}/attendances.html">Attendances</a></li>
    <li><a href="{{ site.baseurl }}/donations.html">Donations</a></li>
    <li><a href="{{ site.baseurl }}/events.html">Events</a></li>
    <li><a href="{{ site.baseurl }}/forms.html">Forms</a></li>
    <li><a href="{{ site.baseurl }}/lists.html">Lists</a></li>
    <li><a href="{{ site.baseurl }}/people.html">People</a></li>
    <li><a href="{{ site.baseurl }}/queries.html">Queries</a></li>
    <li><a href="{{ site.baseurl }}/questions.html">Questions</a></li>
    <li><a href="{{ site.baseurl }}/submissions.html">Submissions</a></li>
    <li><a href="{{ site.baseurl }}/tags.html">Tags</a></li>   
	<li class="nav-header">Helpers</li> 
    <li><a href="{{ site.baseurl }}/person_signup.html">Person Signup Helper</a></li>
    <li><a href="{{ site.baseurl }}/record_attendance.html">Record Attendance Helper</a></li>
    <li><a href="{{ site.baseurl }}/record_submission.html">Record Submission Helper</a></li>
</ul>